body {
  background-image: url('img/pokemon-wallpaper.png');
}

.hidden {
  display: none;
}

canvas {
  margin: 20px 0;
  margin-left: calc(50% - 405px);
  border: 5px solid black;
  border-radius: 10px;
}

#start-screen, #restart-screen, #inactive-screen, .links-container {
  margin: 20px auto;
  background: #8bf1ff;
  width: 80%;
  max-width: 600px;
  border: 5px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.sad-charmander, .sleeping-charizard {
  width: 100%;
}

.links-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 18px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.pokemania-logo {
  width: 100%;
}

.welcome {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.eevee {
  margin-left: -65px;
}

.start-form {
  padding: 20px 0;
  width: 50%;
  text-align: center;
}

.start-form > * {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  font-size: 18px;
}

input[type="text"] {
  padding-left: 20px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: 3px solid red;
}

.button {
  background: blue;
  color: white;
  line-height: 50px;
  display: flex;
  align-items: center;
  transition: background 0.5s;
}

.restart-button {
  justify-content: center;
  width: 80%;
  margin: 10px auto;
}

#restart-screen, #inactive-screen {
  padding: 15px;
}

.button > img {
  height: 45px;
  margin: 0 10px 0 15%;
}

.restart-button > img {
  margin-left: 0;
}

.button:last-child {
  margin-top: 10px;
}

.button:hover {
  cursor: pointer;
  background: #0420b5;
}

#instructions, #select-pokemon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(91, 91, 91, 0.8);
  z-index: 1;
}

#instructions-body, #select-pokemon-body {
  background: white;
  width: 80%;
  margin: 40px auto;
  padding: 20px 0;
  border: 2px solid black;
  border-radius: 5px;
}

#instructions-body {
  max-width: 500px;
}

#select-pokemon-body {
  max-width: 700px;
}

#select-pokemon {
  overflow-y: scroll;
}

#pokemon-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

#pokemon-list > li {
  width: 20%;
}

.select-pokemon-img {
  width: 100%;
  border: 4px solid transparent;
  box-sizing: border-box;
}

.select-pokemon-img-focus {
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
  border: 4px solid red;
  border-radius: 50%;
}

.select-pokemon-img:hover {
  cursor: pointer;
  filter: brightness(120%);
  -webkit-filter: brightness(120%);
}

#instructions-body > h1, #select-pokemon-body > h1 {
  color: blue;
}

#instructions-body > a {
  display: block;
}

#start-button {
  width: 250px;
  margin: 0 auto;
}

a {
  text-align: center;
  width: 100%;
  color: blue;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  #start-screen, #restart-screen, #inactive-screen, .links-container {
    width: 100%;
  }

  .restart-button {
    width: 90%;
  }

  #restart-screen, #inactive-screen {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .start-form {
    width: 60%;
    margin-left: 5px;
  }

  .welcome {
    justify-content: space-between;
    align-items: center;
  }

  .eevee {
    width: 55%;
  }

  .button > img {
    margin-left: 2%;
  }

  #start-button > img {
    margin-left: 15%;
  }

  #pokemon-list > li {
    width: 33.3333%;
  }
}
